<h1>Jobs Board</h1>
<% if !@jobs.empty? %>
    <ul>
        <% @jobs.each do |f|%>
            <li><%=link_to f.title, photography_job_path(f) %> </li>
        <% end%>
    </ul>
<% else%>
    <h2>No jobs available</h2>
<% end %>
