        <h1 class="header">Jobs Board</h1>
        <% if !@jobs.empty? %>
            <ul>
                <% @jobs.each do |f|%>
                    <%=link_to f.title, photography_job_path(f)%>
                <% end%>
            </ul>
        <% else%>
            <h2>No jobs available</h2>
        <% end %>
    </div>
</div>
