<p>This is profile show page</p>

<div>
    <%= @profile.name %>
    <% if @profile.photographer%>
        <p> I am a photographer</p>
    <% end%>
</div>


<%= link_to 'Edit Profile', edit_profile_path(@profile) %>
