<p>This is profile show page</p>

<div>
    <%= @profile.name %>
</div>


<%= link_to 'Edit Profile', edit_profile_path(@profile) %>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>