<h1>Welcome to Moments Captured</div>
<h2>The platform to find a photographer for you special Moments</h2>

<div>
    <%= button_to 'SignUp', new_user_registration_path, method: :get%>
</div>

<div>
    <%= button_to 'Loign', new_user_session_url %>
</div> 